/*
@import url("tinyScreen.css") screen and (max-device-width: 400px);
@import url("smallScreen.css") screen and (min-width: 400px) and (max-device-width: 600px);

@import url("quiz_absolutePx.css") screen and (min-width: 1900px);
@import url("1024-1900.css") screen and (min-width: 1024px) and (max-device-width: 1900px);

#276560;   green1 
#277860;   green2 
#279560;   green3 
#27ae60;   green4 
#27c460;   green5 
#27dd60;   green6 
#27f060;   green7 
#adadad;   grey8 

*/

/****************** Global CSS ******************/

@font-face {
	font-family: SarreTestversion-BoldItalic;
	src: url(fonts/SarreTestversion-BoldItalic.otf);
}

@font-face {
	font-family: DezenProRegular;
	src: url(fonts/DezenProRegular.otf);
}

@font-face {
	font-family: ProbaPro-RegularWeb;
	src: url(fonts/ProbaPro-RegularWeb.woff);
	src: url(fonts/ProbaPro-RegularWeb.eot);
}

* {
  margin: 0;
}

h1,h3,a,header,div,input,li,span {
    margin: 0; padding: 0;
}

header,div{
	display: block;
    font-family: DezenProRegular, helvetica, "Varela", sans-serif;
    letter-spacing: 1px;
}

html {
	margin: 0; padding: 0;
    height:100%;
}

body {
	margin: 0 auto; padding: 0;
	font: 100% DezenProRegular, Helvetica, sans-serif;
	/*background-color: #eef3d7;    light grey*/
	background-color: #e7e7e7;  /* grey */
	/*background-color: #27ae60;   green4 */
	/*background: #5bc0de; background-color: #1c9e54;*/    /*light blue*/
    height:100%;
    word-wrap: break-word;
}	

a:hover, a:active, a:visited, a:link {
    color: white;
	text-decoration: none;
}

/****************** End of Global CSS ******************/

#subscribe:hover {
    cursor: pointer;
    background-color: #58dd90; /* light green */
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
	transition: border .25s linear, color .25s linear, background-color .25s linear;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -2em; 
  bottom: 0;
}

.page-wrap:after {
  content: "";
  display: block;
}

.dumbBoxWrap { /* The div that shows/hides. */ 
    display: block; /* starts out hidden */ 
	z-index:40001; /* High z-index to ensure it appears above all content */ 
} 

.dumbBoxOverlay { /* Shades out background when selector is active */ 
	position: fixed; 
	width: 100%;  height: 100%; 
	background-color: black; 
	opacity: .5; /* Sets opacity so it's partly transparent */ 
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE transparency */ 
	filter:alpha(opacity=50); /* More IE transparency */ 
	z-index: 40001; 
} 

.vertical-offset { /* Fixed position to provide the vertical offset */ 
	position: fixed; 
	top: 30%; left: 30%;
	width: 40%;
	z-index: 40002; /* ensures box appears above overlay */ 
} 

.dumbBox { /* The actual box, centered in the fixed-position div */ 
    width: 100%; /* Whatever width you want the box to be */  
	margin: 0 auto; /* Everything below is just visual styling */ 
}

#closeModal { 
    position: absolute; top: -12px; /* Half the icon's height */ 
    right: -12px; /* half the icon's width */ 
    z-index: 50; 
}

#closeModal:hover {
    cursor: pointer;
}

#sideBar {
    width: 90%;
    height: 180px;
    position: relative; 
    margin: 0 auto; /* Everything below is just visual styling */ 
	background-color: white; 
    padding: 2% 4%;  
    color: #728471; /* light grey green */
    text-align: center;
}

#sideBar p {
    text-align: left;
}

#sideBar div label {
    padding: 0 auto;
    padding-bottom: -5px;
}

#sideBar form#registerform {
    margin: 0 auto;
    position: relative;
    padding: 0 auto; padding-bottom: 0;
    font-size: 1.4em;
}

#sideBar input, label {
    margin: 3px;
    vertical-align: middle;
}

#subscribe {
    color: #ffffff;
	height: 25px;  width: 100px;
	padding: 0 auto;
	font-size: 1.1em;
	border-radius: 0.2em;
	background-color: #27AE60;    	/*dark green*/
	border: none;
}

#sideBar h3 {
    text-align: center;
    text-indent: -20px;
}

#sideBar i {
    color: #ff4a6c;
}

input {
	-webkit-appearance: none;
	-moz-appearance: none;
}

input:focus, select:focus, textarea:focus, textarea {
	outline-color: #85f2ff;  /* blue */
	outline: none;
}

header {
	margin: 0; padding: 0; padding-top: 0.1em; padding-bottom: 0.1em;
	background-color: #27AE60;		/*dark green*/
	color: white;
	font-family: DezenProRegular, Helvetica, Arial, sans-serif;  font-size: 1.5em;
	letter-spacing: 1.2px;
	text-align: left;
    position: relative;
    /*text-shadow: 0 1px 1px #223026;*/
    width: 100%;
    vertical-align: top;
}

span {
	color: white;
}

input {
	display: inline-block;
}

ul, li {
	position: relative;
	margin: 0; padding: 0; border: none; list-style: none;
	vertical-align: top;
	color: white;
}

#lifenoteLogo {
	margin: 0; margin-left: 5.4%; padding: 0;
	position: relative;
	display: inline-block;
	vertical-align: middle;
}

header h3#logo {
	margin: 0; margin-left: 0.3em; margin-right: 3em; padding: 0; padding-bottom: 0.3em
	top: 0.03em;
	position: relative;
	display: inline-block;
	font-family: SarreTestversion-BoldItalic, Helvetica, sans-serif; 
	font-size: 1.3em;   font-weight: bold;
	vertical-align: middle;
}

sup {
    font-size: 0.5em;
}

h3.headerTip {
	margin: 0 auto;
	display: inline-block;
	position: relative;
	vertical-align: middle;
	top: 3px;
}

div#register {
	font-size: 0.6em;
	margin: 0; padding: 0; margin-left: 1em;  margin-right: 6%;  padding-top: 0.2em;
	position: relative;
	float: right;
	color: #444;
}

div#signIn {
	font-size: 0.6em;
	margin: 0; padding: 0; padding-top: 0.2em;
	position: relative;
	float: right;
	color: #444;
}

div#myInfo {
	font-size: 0.6em;
	margin: 0; padding: 0;  padding-top: 0.6em;
	position: relative;
	float: right;
	color: #444;
}

div#myInfo:hover, div#mySetUp:hover {
	cursor: pointer;
}

div#mySetUp {
	font-size: 0.6em;
	margin: 0;  margin-left: 1em;  margin-right: 6%;  padding: 0; padding-top: 0.6em;
	position: relative;
	float: right;
	color: #444;
}

ul.setListCategory {
	z-index: 200;
	display: none;
	/*background-color: #27AE60;		dark green*/
	border-radius: 0.2em;
	position: absolute;

}

ul.setListCategory li {
	margin: 0;  margin-left: 0.2em;  margin-right: 0.2em;  padding: 0.1em; 
}

ul.setListCategory li span {
	font-size: 1.2em;
	margin-left: 0.2em;  margin-right: 0.2em;
}

div.WB_loginButton {
	position: absolute; right: 2%; top: 17%;
    display: inline-block;
}

div.modeChoosing {
	margin: 0 auto;  padding: 0 auto;
	width: 100%;
	background-color: #f9f9f9; /* grey */
	height: 44px;
	text-align: left;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.11);
    -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.11);
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.11);
    font-family: DezenProRegular, helvetica, sans-serif;
    letter-spacing: 1.2px;
}

a.list-group-item {
	margin-left: 5.4%;
	font-size: 1.3em;  font-weight: bold;
	color: #373737;  /* very dark green */
	line-height: 2;
}

a.list-group-item > img, .everydayTitle {
	vertical-align: middle;
	color: #333;
	margin-right: 0.1em;
}

span.DnDIntro {
	margin-left: 2em;
	font-size: 0.8em;  font-style: italic;
	color: #aaa;
}

ul.listCategory {
	display: block;
	margin: 0;  margin-left: 5.6%;  margin-top: 0.2em;  padding: 0.5em; padding-left: 0;
	line-height: 1;
	background-color: #eee;
	width: 70%; 
	border-radius: 0.3em;
	display: none;
}

ul.listCategory li {
	display: inline-block;
	color: #373737;  /* very dark green */
	margin-right: 1em; margin-top: 0.2em;
	overflow: hidden;
}

ul.listCategory li:first-child {
	padding-left: 1em;
}

ul.listCategory span {
	color: #373737;  /* very dark green */
	vertical-align: middle;
}

ul.listCategory span:hover {
	cursor: pointer;
}

ul.listCategory input {
	background: #3fc2d5; /* light blue */
	margin-right: 0.5em;
	vertical-align: middle;
}

div.everyDayDoArea {
	margin-left: 5.4%; margin-right: 5.4%;
	color: #373737;  /* very dark green */
	font-size: 0.9em;
	width: auto;
}

div.everyDayDoArea ul {
	display: inline-block;
	/* background: #e7e7e7;    grey */
	margin: 0.2em; margin-left: 0; margin-top: 0.3em; padding: 0.5em;  padding-right: 0.8em; padding-top: 0.9em; padding-bottom: 0.9em; 
	border-radius: 0.4em;
	width: auto;
	height: auto;
}

div.everyDayDoArea h3 {
	color: #373737;  /* very dark green */
	margin-bottom: 0.1em;

}

div.everyDayDoArea li {
	background: #1aa1c7;
	margin: 0; margin-bottom: 0.3em; padding: 0.18em; padding-left: 0.2em; padding-right: 0.2em; padding-top: 0;
	display: inline-block;
	font-size: 1.1em;  font-weight: 400;
	color: white;
	border-radius: 0.2em;
}

div.everyDayDoArea li input.everyDayDoList {
	margin: 0; margin-right: 0.4em; padding: 0;
	color: white;
	border-radius: 0.2em;
	vertical-align: middle;
}

div.everyDayDoArea li input.everyDayDoList + span {
	margin: 0; padding: 0;
	color: white;
	vertical-align: middle;
}

div.everyDayDoArea li.newAddEverydayDoList {
	margin-right: 0.2em;
	background: #27AE60;
}

div.everyDayDoArea li.lifeHabit, input#life, ul.setListCategory li:first-child {
	background: #FF0066;  /* purple red */
}

div.everyDayDoArea li.study, input#study, ul.setListCategory li:nth-child(2) {
	background: #d9534f; /* red */
}

div.everyDayDoArea li.work, input#work, ul.setListCategory li:nth-child(3) {
	background: #e4792b; /* orange */
}

div.everyDayDoArea li.workOut, input#workout, ul.setListCategory li:nth-child(4) {
	background: #eeb929; /* yellow */
}

div.everyDayDoArea li.entertainment, input#entertainment, ul.setListCategory li:nth-child(5) {
	background: #3fc2d5; /* light blue */
}

div.everyDayDoArea li.relationship, input#family, ul.setListCategory li:nth-child(6) {
	background: #3f9ed5; /* darker blue */
}

div.everyDayDoArea li.chores, input#chore, ul.setListCategory li:nth-child(7) {
	background: #9900CC;  /* purple */
}

div.everyDayDoArea li.idea, input#idea, ul.setListCategory li:nth-child(8) {
	background: #bbb; /* gray */
}

a.liClose {
	opacity: 0.8;
	display: inline;
	position: relative;
	top: 4px;
}

a.liClose:hover {
    cursor: pointer;
    opacity: 1;
}

input#everydayDo {
	margin: 0 auto;  margin-left: 0.5em;  
	padding: 0 auto;
	position: relative;
    display: inline-block;
    vertical-align: top;
	color: #27AE60;
	height: 26px;
	font-size: 0.9em;
	background-color: #eee;    	
	border: none;  
	border-top-left-radius: 0.2em;
	border-bottom-left-radius: 0.2em;
}

input#addEverydayDo {
	margin: 0 auto;  margin-left: 1px;  padding: 0 auto;
	position: relative;
    display: inline-block;
    vertical-align: top;
	color: #ffffff;
	height: 26px; width: 26px;
	font-size: 1.0em;
	background-color: #27ae60;    	/*dark green*/
	border: none;
	border-top-right-radius: 0.2em;
	border-bottom-right-radius: 0.2em;
	font-weight: bolder;
}

input#addEverydayDo:hover{
    cursor: pointer;
	background-color: #58dd90; /* light green */
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
	transition: border .25s linear, color .25s linear, background-color .25s linear;
}

input.everyDayDoList {
	position: relative;
	margin-left: 1px;
	border-radius: 0.2em;
	cursor: pointer;
	width: 15px; height: 15px;
	background: white;  /* grey */
}

input.everyDayDoList[type=checkbox]:checked, 
input.newAddEverydayDoList[type=checkbox]:checked {
	background: url(../images/checked.png) 0 top no-repeat;
}

div#MBO {
	margin: 0; margin-left: 5.4%; margin-right: 5.4%; padding: 0;
	color: #373737;  /* very dark green */
	font-size: 0.9em;
	width: auto;
}

div#MBO ul {
	display: block;
	background: #e7e7e7;
	margin: 0.2em; padding: 0.5em; padding-left: 0.8em; padding-right: 0.8em;
	border-radius: 0.4em;
	width: auto;
	height: auto;
}

div#MBO li {
	background: #1aa1c7;
	margin: 0; margin-bottom: 0.12em; padding: 0.18em; padding-left: 0.4em; padding-right: 0.4em; 
	display: inline-block;
	color: white;
	border-radius: 0.2em;
}

#chartdiv {
	z-index: 100;
	position: absolute;
	top: 0px;  left: 37.5%;
	width: 100px; height: 180px; 
	margin: 0 auto; padding: 0 auto;
	display: none;
}

ul.modeMenu {
	margin-left: 2%;  margin-top: 0;  padding: 0px;
	width: 66px;
	display: block;
	position: relative;
	background: #3fc2d5; /* light blue */
	background: rgba(63,194,213,0.4);
}

ul.modeMenu > li {
	padding: 0px;  padding-left: .6em;  padding-right: .6em;
	background: #3fc2d5; /* light blue */
	background: rgba(63,194,213,0.4);
}

ul.modeMenu > li:hover {
	padding-left: .6em;  padding-right: .6em;
	background: #3f9ed5; /* darker blue */  
	cursor: pointer;
	border-radius: 0.1em;
}

/* 显示2级菜单 */
ul.modeMenu:hover ul.modeListMenu {
	top: 0px;
	display: block;
	background: #3fc2d5; /* light blue */
	background: rgba(63,194,213,0.4);
	border-color: transparent;
	
	width: 116px;
	
	margin: 0 auto; margin-left: 1px; margin-bottom: 0.2em;
	padding: 0 auto;
	border-radius: 0.1em;

	-webkit-transition: opacity 0.3s ease-in;
	-moz-transition: opacity 0.3s ease-in;
	transition: opacity 0.3s ease-in;
}

ul.modeListMenu {
	padding: 0;
	position: absolute;
	display: none;
	left: 100%;
}

ul.modeListMenu > li {
	padding-left: .6em;  padding-right: .6em;
}

ul.modeListMenu > li:hover {
	padding-left: .6em;  padding-right: .6em;
	background: #3f9ed5; /* darker blue */  
	cursor: pointer;
	border-radius: 0.1em;
}

ul.modeLv {
	padding: 0;
	position: absolute;
	display: none;
	left: 100%;
}

ul.modeLv > li{
	padding-left: .6em;  padding-right: .6em;
}

ul.modeLv > li:hover {
	padding-left: .6em;  padding-right: .6em;
	background: #3f9ed5; /* darker blue */  
	cursor: pointer;
	border-radius: 0.1em;
}

ul.modeListMenu:first-child:hover ul.modeLv {
	display: block;
	background: #3fc2d5; /* light blue */
	background: rgba(63,194,213,0.4);
	border-color: transparent;
	top: 0px;  width: 95px;
	
	margin: 0 auto; margin-left: 1px; margin-bottom: 0.2em;  padding: 0 auto;
	border-radius: 0.1em;

	-webkit-transition: opacity 0.3s ease-in;
	-moz-transition: opacity 0.3s ease-in;
	transition: opacity 0.3s ease-in;
}

/*
ul li::after {
	content: '';
	position: absolute;
	top: 8px;
	right: 10px;
	width: 0px;
	height: 0px;
	border: 4px solid transparent;
	border-left: 4px solid #e4433c;
}

ul li::before {
	content: '';
	position: absolute;
	top: 8px;
	right: 10px;
	width: 0px;
	height: 0px;
	border: 4px solid transparent;
	border-left: 4px solid #fff;
}
*/
/* Changing the color of the arrow on hover */
/*ul li:hover::after {
  border-left: 4px solid #fff;
}
ul li:hover::before {
  border-left: 4px solid rgba(0, 0, 0, 0.25);
}
*/

div#clockBox {
	position: relative;
	margin: 0 auto;  padding: 3px 0;
	width: 100%;
	background-color: #2f4033;  /* dark green */
	text-align: center;
	font-family: SarreTestversion-BoldItalic, Helvetica, sans-serif;
	font-size: 1.2em;
	line-height: 1.1em;
	opacity: .8;
	color: #ffea5f; /*Gold*/
}

#clockBox h3 {
	line-height: 1.5;
	display: none;
}

.TimeCoinRule {
	font-family: SarreTestversion-BoldItalic, Helvetica, sans-serif;
	font-size: 1em;
	font-weight: thin;
}

#moneySign {
	display: inline-block;
	position: relative;
	margin-right: 1em;
	color: #ffea5f; /*Gold*/
}

.goldcoin, .silvercoin, .coppercoin, .allsilvercoin {
	display: inline-block;
	position: relative;
	width: 32px;
	content: "";
	color: #ffea5f; /*Gold*/
	top: -2px;
}

.silvercoin {
	color: #e4e7e9; /*Silver*/
}

.coppercoin {
	color: #b66549; /*Copper*/
}

.allsilvercoin {
	width: 50px;
}

.rule {
	margin-right: 0.5em;  margin-left: 2em;
}

.rule2 {
	margin-right: 0;  margin-left: 2em;
	word-wrap:break-word;
}

#leftTime {
	color: #ffea5f; /*Gold*/
	word-wrap:break-word;
}

div.everydayNews {
	margin: 0 auto;  padding: 0 auto;
	background: #fffed5;
	height: 10%;  width: 100%;
	font-family: helvetica, sans-serif;
}

.everydayNews h3 {
	color: #999;
}

/************************Lists************************************************************/

div.biggerContainer {
    width: 100%;  height: 100%;
    padding: 0 auto;  margin: 0 auto;
    position: relative;
    text-align: center;
    display: block;
}

div.maincontent {
	display: inline-block;
	width: 100%;
}

  /***************************************************************************************/
 /********* 3 Lists Here *************************************************************/
/***************************************************************************************/
div.container {
	margin: 0 auto;  padding: 0 auto;
	text-align: center;
	font-family: DezenProRegular, helvetica, verdana, Arial, sans-serif;
	letter-spacing: 1.2px;
	color: #34495e;
    min-height: 50%;  width: 30%; min-width: 300px;
	display: inline-block;
	vertical-align: top;
}

div.containerColor {
	margin: 0 auto;  padding: 0 auto;
	margin: 2%; margin-top: 4%; padding-top: 1%;  padding-bottom: 2%; padding-left: 1%; padding-right: 1%;
	background-color: #f9f9f9;  /* very white */
	border-radius: 0.2em;
	min-height: 200px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.11);
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.11);
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.11);
}

div.insideContainer {
    margin: 0 auto;  padding: 0 auto;
    text-align: center;
    position: relative;
    display: block;
    width: 100%;
}

.boardTitle {
	margin: 0 auto;  margin-top: 0.2em; margin-bottom: 0.2em;  padding: 0 auto;
    font-size: 1.1em;
    width: 100%;
}

.boardTitle h3 {
	text-align: center;
	font-size: 1.1em;
	color: #666;  /* very dark green */
	line-height: 1.8;
}

div.inputList {
    margin: 0 auto; margin-bottom: 1px; padding: 0 auto; 
    width: 90%; height: 26px;
}

span.blankBox {
	height: 26px; width: 26px; margin-right: 1px;
	position: relative;
	display: inline-block;
	background: #f9f9f9;
	font-size: 1.5em;
	font-family: PEECOLPocketOne;
}

input#toDoItem {
    margin: 0 auto;  padding: 0 auto;
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: 26px; width: 76.86%;
	font-family: DezenProRegular, Tahoma, sans-serif;
	color: #34495e;
	background-color: #eee;
    border: none;  border-radius: 0.1em;
    border-top-left-radius: 0.2em;
	border-bottom-left-radius: 0.2em;
}

::-webkit-input-placeholder,  /* WebKit browsers */ 
:-moz-placeholder,   /* Mozilla Firefox 4 to 18 */
::-moz-placeholder,  /* Mozilla Firefox 19+ */
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: white;
    font-family: helvetica, Tahoma, sans-serif;

}

input#addToDo{
	margin: 0 auto;  margin-left: 1px;  padding: 0 auto;
	position: relative;
    display: inline-block;
    vertical-align: top;
	color: #ffffff;
	height: 26px; width: 26px;
	font-size: 0.9em;
	background-color: #27AE60;    	/*dark green*/
	background: #27ae60;
	border: none;
	border-top-right-radius: 0.2em;
	border-bottom-right-radius: 0.2em;
	font-weight: bolder;
}

input#addToDo:hover{
    cursor: pointer;
	background-color: #58dd90; /* light green */
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
	transition: border .25s linear, color .25s linear, background-color .25s linear;
	
}

ul#theList, ul#doingList, ul#doneList {
    list-style-type: none;
    margin: 0 auto;  padding: 0 auto;  padding-bottom: 20px;  padding-left: 5%; padding-right: 5%;
}

ul#theList li.allLi, ul#doingList li.allLi, ul#doneList li.allLi {
	margin: 0 auto;  margin-bottom: 1px;  padding: 0 auto;
	width: 100%;
	border-radius: 0.2em;
	background: #eee; /* gray */
}

textarea.ListItem {
    margin: 0 auto; margin-left: 1px; padding: 0 auto; padding-left: 0.4em; 
    position: relative;
    vertical-align: top;
	width: 75%;
	resize: none;
	overflow-y: hidden;
	font-family: ProbaPro-RegularWeb, Tahoma, sans-serif;
	font-size: 1.1em;
	letter-spacing: 1.2px;
    border: none;
    border-radius: 0.1em;

    background: #eee; /* gray */
    color: #555;
}

div.dateMenu {
	vertical-align: top;
	margin: 0; padding: 0; padding-top: 5px;
	position: relative;
    display: inline-block;
    background: #ddd;
    width: 100%;
    height: 40px; min-width: 25%;
    font-family: DezenProRegular, helvetica, Tahoma, sans-serif;
	font-size: 1.1em;
}

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button {
	font-family: ProbaPro-RegularWeb, helvetica, sans-serif;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0; padding: 0;
    overflow-y: hidden;
}

input.investTime {
	font-family: ProbaPro-RegularWeb, helvetica, sans-serif;
	margin: 0; padding: 0;
	border: none;
	position: relative;
	display: block;
	height: 13px;
	width: 100%;
	font-size: 0.7em;
	letter-spacing: 0px;
	background: #ddd;
	color: #333;
}

span.investTime {
	font-family: ProbaPro-RegularWeb, helvetica, sans-serif;
	margin: 0; padding: 0;
	border: none;
	position: relative;
	display: block;
	height: 13px;
	width: 100%;
	font-size: 0.7em;
	background: #ddd;
	color: #666;
}

span.current_time {
	font-family: ProbaPro-RegularWeb, helvetica, sans-serif;
	margin: 0; padding: 0;
	font-size: 0.7em;
	color: #999;
}

a.removeListItem {
	margin-left: 1px;
	height: 26px; width: 26px;
	display: inline-block;
	border-radius: 0.2em;
	background: #27ae60;
}

a.removeListItem img {
	margin-top:5px;
	margin-left: 0.5px;
}

ul#theList a:hover, ul#doingList a:hover, ul#doneList a:hover  {
	background-color: #58dd90; /* light green */
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
	transition: border .25s linear, color .25s linear, background-color .25s linear;
}

a.removeListItem:hover {
    cursor: pointer;
    opacity: 1;
    background: #333;
}

.loadingBot {
	margin: 0; padding: 0;
	height: 0.8em;
	width: 100%;
	position: relative;
	background: #ddd;
}

.loadingBK {
	margin: 0; padding: 0; margin-top: -0.8em;
	height: 0.8em;
	width: 100%;
	position: relative;
	background: #ffcb42;
	/*
	background-image: linear-gradient(90deg, transparent 90%, rgba(255,255,255,1) 10%);
	background-size: 10px 6px;
	*/
}

.loadingRate {
	margin: 0; padding: 0; margin-top: -0.8em;
	top: -0.3em;
	height: 0.8em;
	width: 100%;
	position: relative;
	font-family: helvetica, sans-serif;
	font-size: 0.6em;
	color: #444;
}

.loadingRate:hover {
	cursor: pointer;
}

/**********  color menu ************/

ul.colorMenu {
	position: relative;
	display: inline-block;
	color: white; 	
    border-radius: 0.1em;
    vertical-align: top;
}

li.colorMenu0 {
	margin: 0; padding: 0 auto;  border: 0; list-style: none;
	background: #27ae60; /* blue */
	border-radius: 0.2em;

}

li.colorMenu0 > a {
	height: 26px; width: 26px;
	display: block;
}

li.colorMenu0 > a > span {
	height: 26px; width: 26px;
	display: block;
}

li.colorMenu1 {
	z-index: 200;
	margin: 0; margin-top: 1px; margin-right: 1px; padding: 0 auto; 
	border: none; list-style: none;
	position: absolute;
	top: 26px;
	height: auto;
	display: none;
}

ul.colorMenu2 {
	height: 73px; width: 108px;
	background: white; /* 1px Gap */
}

li.colorMenu3 {
	background: #d9534f; /* red */
	height: 26px; width: 26px;
	display: inline-block;
	margin-right: 1px;
}

li.colorMenu3 > a {
	height: 26px; width: 26px;
	display: block;
}

li.colorMenu3 > a > span {
	height: 26px; width: 26px;
	display: block;
}

li.colorMenuTitle, li.deadLineTitle, li.progressTitle  {
	color: #666;
	font-weight: 550;
	background: white;
	margin: 0; padding: 0;
}

ul.colorMenu2 li.colorMenu3:nth-child(2) {
	background: #FF0066;  /* purple red */
	margin-right: 1px;
}

ul.colorMenu2 li.colorMenu3:nth-child(3) {
	background: #d9534f;   /* red */
	margin-right: 1px;
}

ul.colorMenu2 li.colorMenu3:nth-child(4) {
	background: #e4792b;   /* orange */
	margin-right: 1px;
}

ul.colorMenu2 li.colorMenu3:nth-child(5) {
	background: #eeb929;   /* yellow */
	margin-right: 1px;
}

ul.colorMenu2 li.colorMenu3:nth-child(6) {
	background: #3fc2d5; /* light blue */
	margin-top: 1px;  margin-right: 1px;
}

ul.colorMenu2 li.colorMenu3:nth-child(7) {
	background: #3f9ed5; /* darker blue */
	margin-top: 1px;  margin-right: 1px;
}

ul.colorMenu2 li.colorMenu3:nth-child(8) {
	background: #9900CC;  /* purple */
	margin-top: 1px;  margin-right: 1px;
}
ul.colorMenu2 li.colorMenu3:nth-child(9) {
	margin-top: 1px;  margin-right: 1px;
	background: #cbcbcb;   /* grey */
	
}

/************************************************/
/****************** footer ********************/

#doClearAll {
	position: relative;
	margin: 0; padding: 0.6em 2.8em; margin-top: 24px; margin-bottom: 3em;
	font-size: 1.1em; line-height: 1;
	border-radius: 0.2em;
	background-color: #27ae60;    	/*dark green 	background: #ccc;*/

    min-height: 2%;  min-width: 100px;
	display: inline-block;
}

#doClearAll:hover{
    cursor: pointer;
	background-color: #58dd90; /* light green */
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
	transition: border .25s linear, color .25s linear, background-color .25s linear;
}

a#clearAll > img, a#clearAll > span {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	margin-right: 0.5em;
	font-size: 1.2em;
}

a#clearAll > span {
	padding-top: 2.5px;
}

#showAllList {
	margin-left: 40%;
	text-align: left;
}

.clearBoth {
	clear: both;
}

.placeholder {
	background: #e7e7e7;
	border: 1px solid #e3e3e3;
	margin-bottom: 1px;
	border-radius: 0.2em;
}

.site-footer, .page-wrap:after {
	/* .push must be the same height as footer */
	height: 2em;
}
.site-footer {
	background-color: #27ae60;    	/*dark green*/
}